<!-- Blog -->
<section id="blog-posts" class="blog-posts row row-fullwidth">
  {{#withSort post 'this.data.date'}}
    {{#each this.pages}}
      <a href="{{href this.dest 'releases/dev-release' ''}}" rel="prefetch" rel=prefetch role=link>
      {{#is this.data.size 'half'}}
      <article class="blog-post half-article">
      {{else}}
      <article class="blog-post full-article">
      {{/is}}
        <!--<div class="caption-bg col"">
          <span class="text-title hide-on-p hide-on-wp">{{this.data.title}}</span>
        </div>
        <a href="{{href this.dest 'releases/dev-release' ''}}" rel="prefetch" rel=prefetch role=link>
          <div class="caption col">
            <span class="col text-title hide-on-t hide-on-wt hide-on-c">{{this.data.title}}</span>
            <section class="col article-preview-description text-body-1">
              {{#if this.data.description}}
                {{this.data.description}}
              {{else}}
                There is no description for this article...
              {{/if}}
            </section>
            <section class="col article-date">
              {{#if this.data.date-updated}}
                <p class="text">Published on <time>{{date this.data.date-published}}</time> [Updated on <time>{{date this.data.date-updated}}</time>]</p>
                {{else}}
                <p class="text">Published on <time>{{date this.data.date-published}}</time></p>
              {{/if}}
          </section>
          </div>
        </a>-->
      	<div class="description-col">
      		<div class="wrapper">
      			<div class="title">{{this.data.title}}</div>
      			<div class="content">
      				{{#if this.data.description}}
                {{this.data.description}}
              {{else}}
                There is no description for this article...
              {{/if}}
      			</div>
      		</div>
      	</div>
      	<div class="img-col">
      		<article class="img-1" style="background: url(/assets/img/blog{{href this.dest 'releases/dev-release' ''}}preview-1.{{this.data.preview-type}}) no-repeat center center;">
      		</article>
      		<article class="img-2" style="background: url(/assets/img/blog{{href this.dest 'releases/dev-release' ''}}preview-2.{{this.data.preview-type}}) no-repeat center center;">
      		</article>
      	</div>
      </article>
      </a>
    {{/each ~}}
  {{/withSort ~}}
</section>
