<!-- Portfolio Grid Section -->
<section id="portfolio" class="col col-l-12 portfolio">
    <div class="col-l-12">
        <h2>Portfolio</h2>
    </div>
    {{#each portfolio.works}}
    <a href="#portfolioModal{{@index}}" class="portfolio-link" data-toggle="modal">
        <div class="col-l-{{this.display.width-l}} col-m-{{this.display.width-m}} col-s-{{this.display.width-s}} portfolio-image" style="background: url(./assets/img/portfolio/{{this.ref}}.png) 50% 50% / cover no-repeat;">
            <div class="title">
                {{this.title}}
            </div>
        </div>
    </a>
    {{/each}}
</section>

<!-- Portfolio Modals -->
{{#each portfolio.works}}
<div class="portfolio-modal modal fade" id="portfolioModal{{@index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-push-l-2 col-l-8">
                <div class="modal-body">
                    <h2>{{this.title}}</h2>
                    <img src="./assets/img/portfolio/{{this.ref}}.png" class="img-responsive img-centered" alt="{{this.title}}">
                    <p>{{this.description}}</p>
                    <section class="modal-footer">
                        <div>
                            Client:
                            <a href="{{this.client.link}}">{{this.client.name}}</a>
                        </div>
                        <div>
                            Date:
                            <a href="{{this.client.link}}">{{this.date}}</a>
                        </div>
                        <div>
                            Service:
                            <a href="{{this.client.link}}">{{this.service}}</a>
                        </div>
                    </section>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}