<!-- Portfolio Grid Section -->
<section id="portfolio" class="col col-l-12 portfolio">
    <div class="col-l-12">
        <h2>Portfolio</h2>
    </div>
    {{#each portfolio.works}}
    <div class="col-l-3 col-m-6 col-s-12">
        <a href="#portfolioModal{{@index}}" class="portfolio-link" data-toggle="modal">
            <img src="./assets/img/portfolio/{{this.title}}.png" class="img-responsive img-centered" alt="">
            <div class="caption">
                {{this.title}}
            </div>
        </a>
    </div>
    {{/each}}
</section>

<!-- Portfolio Modals -->
{{#each portfolio.works}}
<div class="portfolio-modal modal fade" id="portfolioModal{{@index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
            <div class="col">
                <div class="col-push-l-2 col-l-8">
                    <div class="modal-body">
                        <h2>{{this.title}}</h2>
                        <img src="./assets/img/portfolio/{{this.title}}.png" class="img-responsive img-centered" alt="">
                        <p>{{this.description}}</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">{{this.client}}</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">{{this.date}}</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">{{this.service}}</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
    </div>
</div>
{{/each}}