<!-- Portfolio Grid Section -->
<section id="portfolio" class="portfolio">
    {{#each portfolio.works}}
      <section id="{{this.ref}}" class="row row-full-width portfolio-element {{this.ref}}" data-toggle="modal">
          {{#is this.display 'left'}}
            <div class="col-p-12 col-wp-12 col-t-12 col-wt-4 col-c-4 caption">
              <div class="logo text-center text-title">
                {{this.title}}
              </div>
              <div class="description text-body-1">
                {{this.description}}
                <a href="{{this.readmore-link}}" class="readmore button primary">Read More</a>
              </div>
              <div class="small-image" style="background: url(./assets/img/portfolio/{{this.images.small}}) 50% 50% / cover no-repeat;"></div>
            </div>
            <div class="col-p-12 col-wp-12 col-t-12 col-wt-8 col-c-8 portfolio-image" style="background: url(./assets/img/portfolio/{{this.images.main}}) 50% 50% / cover no-repeat;"></div>
          {{/is}}
          {{#is this.display 'middle'}}
              <div class="col-p-12 col-wp-12 col-t-4 col-wt-3 col-c-4 portfolio-image" style="background: url(./assets/img/portfolio/{{this.images.main}}) 50% 50% / cover no-repeat;"></div>
              <div class="col-p-12 col-wp-12 col-t-8 col-wt-6 col-c-4 caption">
                <div class="logo text-center text-title">
                  {{this.title}}
                </div>
                <div class="description text-body-1">
                  {{this.description}}
                  <a href="{{this.readmore-link}}" class="readmore button primary">Read More</a>
                </div>
                <div class="hide-on-p hide-on-wp small-image" style="background: url(./assets/img/portfolio/{{this.images.small}}) 50% 50% / cover no-repeat;"></div>
              </div>
              <div class="hide-on-p hide-on-wp hide-on-t col-wt-3 col-c-4 portfolio-image" style="background: url(./assets/img/portfolio/{{this.images.secondary}}) 50% 50% / cover no-repeat;"></div>
          {{/is}}
          {{#is this.display 'right'}}
            <div class="col-p-12 col-wp-12 col-t-12 col-wt-8 col-c-8 portfolio-image" style="background: url(./assets/img/portfolio/{{this.images.main}}) 50% 50% / cover no-repeat;"></div>
            <div class="col-p-12 col-wp-12 col-t-12 col-wt-4 col-c-4 caption">
              <div class="logo text-center text-title">
                {{this.title}}
              </div>
              <div class="description text-body-1">
                {{this.description}}
                <a href="{{this.readmore-link}}" class="readmore button primary">Read More</a>
              </div>
              <div class="small-image" style="background: url(./assets/img/portfolio/{{this.images.small}}) 50% 50% / cover no-repeat;"></div>
            </div>
          {{/is}}
      </section>
    {{/each}}
</section>

<!-- Portfolio Modals -->
<!--{{#each portfolio.works}}
<div class="portfolio-modal modal fade" id="portfolioModal{{@index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-push-l-2 col-l-8">
                <div class="modal-body">
                    <h2>{{this.title}}</h2>
                    <img src="./assets/img/portfolio/{{this.ref}}.png" class="img-responsive img-centered" alt="{{this.title}}">
                    <p>{{this.description}}</p>
                    <section class="modal-footer">
                        <div>
                            Client:
                            <a href="{{this.client.link}}">{{this.client.name}}</a>
                        </div>
                        <div>
                            Date:
                            <a href="{{this.client.link}}">{{this.date}}</a>
                        </div>
                        <div>
                            Service:
                            <a href="{{this.client.link}}">{{this.service}}</a>
                        </div>
                    </section>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
