<div class="author-info">
  
  <div class="author-wrap">
  
    <section class="face-img"></section>
    
    <section class="text">
    
      <h6>Written By:<strong> {{author.name.first}} {{author.name.last}}</strong></h6>
      <h6 class="links">
        <a href="{{author.twitter}}">Twitter</a>
        <a href="{{author.tumblr}}">Tumblr</a>
        <a href="{{author.youtube}}">Youtube</a>
      </h6>
      <small>{{author.bio}}</small>
      
    </section>
  
  </div>
  
</div>