<div class="author-wrap">

  <div class="icon"></div>

  <p class="info">

    Written By:<strong> {{author.name.first}} {{author.name.last}}</strong><br>
    <!--<h6 class="links">
      <a href="{{author.twitter}}">Twitter</a>
      <a href="{{author.tumblr}}">Tumblr</a>
      <a href="{{author.youtube}}">Youtube</a>
    </h6>-->
    <small>{{author.bio}}</small>

  </p>

</div>