---
title: About
css: about
subtitle: thinker // designer // developer
layout: default.hbs
---

<section>

    <div class="face-lockup flex">
        
        <div class="face-img"></div>
        <!--<img class="face-img lazy" alt="" data-echo="/assets/img/site/liam.jpg" class="lazy">-->
        
        <!--{{#each settings.skill-icons}}
        
        <div class="icon-{{this.link}}">
            <img src="/assets/img/site/{{this.link}}.svg"></img>
        </div>
        
        {{/each}}-->
        
        <div class="icon-pencil">{{> icon-pencil}}</div>
        <div class="icon-code">{{> icon-code}}</div>
        <div class="icon-browser">{{> icon-browser}}</div>
        <div class="icon-video">{{> icon-video}}</div>
        
    </div>
    
    <div class="blurb">
        <p><strong>My name is Liam Craver</strong>; I am a developer and a designer from New Orleans, Louisiana.
           My passion is technology; I'm always eager to learn about the latest gadgets or the new features that are in the latest patches of my favorite software.<br><br>
            
           I am an alumnus of [New Orleans Center for Creative Arts](http://www.nocca.com) and [Benjamin Franklin HighSchool](http://bfhsla.org);
           currently I am pursuing a computer science degree at the [University of Louisiana at Lafayette](http://www.louisiana.edu/).<br><br>

           I work freelance when I can during the schoolyear, but especially during the summer; if you want, check out my [work](/work) page;
           open to working on projects of all sorts, I will fit it in however I can.<br><br>

           Most of the time, I am a pretty ordinary person. I say things on [Tumblr]({{author.tumblr}}) and [Google+]({{author.googleplus}}).
           My code ends up on [GitHub]({{author.github}}) most of the time.<br><br>

           The purpose of this website is to serve as an online repository for writings, documents, and work.
           The [colophon](/colophon) and [code styleguide](/styleguide) document the processess used to build 
           it and the source can be found on [GitHub](http://github.com/limestudios/limestudios-site).

           If you have any questions or feedback, you may want to email me at <studios.lime@gmail.com> &mdash;which you should definitely do since I love to talk.
        </p>
    </div>
    
    <div class="skill-lockup">
    
        {{#each settings.skills}}
        
        <div class="skill-unit">
            <div class="skill-label">{{this.name}}</div>
            <div class="skill-icon skill-{{this.level}}">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        {{/each}}
    
    </div>
    
</section>