---
title: Arrhythmia
css: arrhythmia
subtitle: music based game
layout: default.hbs
js-open:
js-close:
- {name: index}
- {name: video}
---

<h2 class="quote">“Wouldn't it be cool to have Game play directly created by a song?”</h2>

<div class="blurb">
    <p>This question interested me so much that, during my Friday coding jam session, I decided to try my hand at making such a game a reality. Thus, Arrhythmia was born!</p>
</div>

<section class="trailer">
   <iframe width="640" height="360"
src="https://www.youtube.com/embed/?listType=playlist&list=PLXhzG3V4Yyvg4a392jOp0W3uMDYoysH9T&autoplay=1&disablekb=1&modestbranding=1&showinfo=0&autohide=1&color=white&iv_load_policy=3"
frameborder="0" allowfullscreen></iframe>
</section>

<section class="awards">
    
    {{#each settings.arrhythmia-awards}}
    
        <article>
            <div class="left-laurel-branch">{{> left-laurel-branch}}</div>
                <p>
                    <span class="h2">{{this.line1}}</span><br>
                    <span class="h3">{{this.line2}}</span><br>
                    <span class="h1">{{this.line3}}</span><br>
                    <span class="h2">{{this.line4}}</span></span><br>
                    <span class="h2">{{this.line5}}</span><br>
                    <span class="h3">{{this.line6}}</span>
                </p>
            <div class="right-laurel-branch">{{> right-laurel-branch}}</div>
        </article>
    
    {{/each}}
    
</section>