---
title: Blog
css: blog
subtitle: read some of my stuff
layout: default.hbs
---

<section>
    
  <div class="blog-posts">

    {{#each blog.pages}}

      <!--<a class="blog-post" href="{{@index}}">
          <div class="blog-icon"></div>
          <span class="blog-label">{{this.name}}</span>
          ---
          <span class="blog-date">{{this.date}}</span>
      </a>-->
      <article>
        <a href="{{@index}}" rel=prefetch role=link class=line>
          <em><span class=article-feed-title>{{this.name}}</span></em>
        </a>
        <small>
          <time class=article-feed-time>{{prettyDate this.date}}</time>     
        </small>
      </article>

    {{/each}}

  </div>
    
</section>