---
title: Blog
subtitle: Read stuff I've written
layout: default.hbs
css: blog
icons: ./assets/img/site/icons/
---

{{/markdown}}

  {{#withSort post 'this.data.date'}}
    {{#each this.pages}}

      <a href="{{findURL this.dest 'dist/development' ''}}" rel=prefetch role=link class="block-panel">
        
        {{#if this.data.icon}}
          <img class="icon" src="/assets/img/site/icons/{{this.data.icon}}.png"></img>
        {{else}}
          {{#if this.data.svg}} 
            <img class="icon" src="/assets/img/site/icons/{{this.data.svg}}.svg"></img>
          {{else}}
            {{#if this.data.letter}} 
              <div class="icon">{{this.data.letter}}</div>
            {{else}}
              <div class="icon">{{firstChar this.data.title}}</div>
            {{/if}}
          {{/if}}
        {{/if}}

        <p class="info">
          <span class="title">
            {{this.data.title}}
            &mdash;
            <time>
              {{prettyDate this.data.date}}
            </time>
          </span>
          <br>
          <span class="subtitle">
            {{this.data.subtitle}}
          </span>
        </p>
        
      </a>

    {{/each ~}}
  {{/withSort ~}}

{{#markdown}}