---
title: Blog
subtitle: Read stuff I've written
layout: default.hbs
css: blog
icons: ./assets/img/site/icons/
---

{{/markdown}}

  {{#withSort post 'this.data.date'}}
    {{#each this.pages}}

      <a href="{{findURL this.dest 'dist/development' ''}}" rel=prefetch role=link class=line>
        
        {{#if this.data.icon}}
          <img class="icon" src="/assets/img/site/icons/{{this.data.icon}}.png"></img>
        {{else}}
          {{#if this.data.svg}} 
            <img class="icon" src="/assets/img/site/icons/{{this.data.svg}}.svg"></img>
          {{else}}
            <div class="icon">{{firstChar this.data.title}}</div>
          {{/if}}
        {{/if}}

        <p class="info">
          {{this.data.title}}
          &mdash;
          <small>
            <time class=article-feed-time>
              {{prettyDate this.data.date}}
            </time>
          </small>
          <br>
          <small>
            {{this.data.subtitle}}
          </small>
        </p>
        
      </a>

    {{/each ~}}
  {{/withSort ~}}

{{#markdown}}