---
title: Work
css: work
subtitle: my past projects
layout: default.hbs
js-open:
- {name: jquery}
js-close:
- {name: work-belt}
---

{{/markdown}}

  <div class="work-belt">

    <div class="thumb-wrap">
        <div class="thumb-container">
          {{#each settings.projects}}

            <a href="" data-folder="{{this.folder}}" class="block-panel">

              {{#if this.icon}}
                <img class="icon" src="/assets/img/site/icons/{{this.icon}}.png"></img>
              {{else}}
                {{#if this.svg}} 
                  <img class="icon" src="/assets/img/site/icons/{{this.svg}}.svg"></img>
                {{else}}
                    {{#if this.letter}} 
                      <div class="icon">{{this.letter}}</div>
                    {{else}}
                      <div class="icon">{{firstChar this.title}}</div>
                    {{/if}}
                {{/if}}
              {{/if}}

              <p class="info">
                <span class="title">
                  {{this.title}}
                </span>
                <br>
                <span class="subtitle">
                  {{this.subtitle}}
                </span>
              </p>

            </a>

          {{/each}}
      </div>
    </div>

    <div class="work-wrap">
        <div class="work-container">
          <div class="work-return">{{> icon-return2}}</div>
          <h4 class="project-title"></h4>
          <div class="project-load">
        </div>
    </div>

  </div>

{{#markdown}}