---
title: Work
css: work
subtitle: my past projects
layout: default.hbs
js-open:
- {name: jquery}
js-close:
- {name: work-belt}
---

{{/markdown}}

  <div class="work-belt">

    <div class="thumb-wrap">
        <div class="thumb-container">
          {{#each settings.projects}}

            <a href="{{this.folder}}" rel=prefetch role=link class="project line">

              {{#if this.icon}}
                <img class="icon" src="/assets/img/site/icons/{{this.icon}}.png"></img>
              {{else}}
                <div class="icon">{{firstChar this.title}}</div>
              {{/if}}

              <p class="info">
                {{this.title}}
                <br>
                <small>
                  {{this.subtitle}}
                </small>
              </p>

            </a>

          {{/each}}
      </div>
    </div>

    <div class="work-wrap">
        <div class="work-container" id="work">
          {{#each settings.projects}}
          <div class="work-return {{this.folder}}" back="{{this.folder}}">{{> icon-return}}</div>
            <article class="{{this.folder}}">
              <h4>{{this.title}}</h4>
              <img style="width:500px; height:500px; background:#ccc;"></img>
              <p>Hey what's up this is where all the work will go like the descriptions and stuff</p>
            </article>
          {{/each}}
        </div>
    </div>

  </div>

{{#markdown}}